%link{rel: "stylesheet", href: "bootstrap.min.css", type: "text/css"}

%html
  %head
    %title Titleize
  %body
    .hero-unit
      %h3 Titleize me
      %form{action: "/", method: "get"}
        %input{name: "input", type: "textarea", class: "textarea input-xlarge", value: question}
        %input{type: "submit", class: "btn btn-primary", value: "Titleize"}

      %h2= answer